<figure class="template-tip">
  <figcaption title="Vue {{ name }}, Svelte {#if ok}, Angular @if (ok) & JSX {name}">
    "Template syntax & escaping"
  </figcaption>
  <pre>
    <code>
      "<b>{{ user.name }}</b> {#if open} @if (open) {} &amp;"
    </code>
  </pre>
  <p data-sample="<b> \"double\" 'single' C:\\temp">
    "Static: <b>not bold</b>, {{ name }}, @if (ok) { }"
  </p>
  <p>
    "Literal: {{ name }} <i>not italic</i> {#each items} @for \"quoted\" C:\\temp café"
  </p>
  <p title="Say \"hi\" & wave">
    "Quoted attribute"
  </p>
  <p data-path="C:\\Users\\ada" title="Say \"hi\" & {{ wave }}">
    "Bound: Say \"hi\" & {{ wave }} in C:\\Users\\ada\\index.ts"
  </p>
  <p>
    "Mustache: {{ C:\\Users\\ada }}"
  </p>
  <p>
    "Done &check;"
  </p>
</figure>
